## Importing libraries

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

---

## Importing data

In [17]:
y_train_path = os.path.join('data', 'preprocessed_y_train.csv')
X_train_path = os.path.join('data', 'preprocessed_X_train.csv')
X_test_path = os.path.join('data', 'preprocessed_X_test.csv')

y_train = pd.read_csv(y_train_path, index_col = 'PassengerId')
X_train = pd.read_csv(X_train_path, index_col = 'PassengerId')
X_test = pd.read_csv(X_test_path, index_col = 'PassengerId')

In [18]:
y_train.head()

             Survived
PassengerId
1                   0
2                   1
3                   1
4                   1
5                   0

In [19]:
X_train.head()

,Pclass,Is_Male,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Rare,Age_Bin_Adult,Age_Bin_Child,Age_Bin_Elder,Age_Bin_Teen,Fare_Class_High,Fare_Class_Low,Fare_Class_Mean,Fare_Class_Median,Embark_Place_C,Embark_Place_Q,Embark_Place_S,Family_Size
PassengerId,,,,,,,,,,,,,,,,,,,
1,0.826913,0.737281,-0.216681,-0.511611,0.850054,-0.405612,-0.16269,0.764691,-0.289564,-0.449669,-0.375083,-0.575731,1.811068,-0.61376,-0.567095,-0.481772,-0.30739,0.615493,0.059127
2,-1.565228,-1.354813,-0.216681,-0.511611,-1.175075,2.462644,-0.16269,0.764691,-0.289564,-0.449669,-0.375083,1.734973,-0.551541,-0.61376,-0.567095,2.073341,-0.30739,-1.622891,0.059127
3,0.826913,-1.354813,-0.216681,1.952417,-1.175075,-0.405612,-0.16269,0.764691,-0.289564,-0.449669,-0.375083,-0.575731,-0.551541,-0.61376,1.761393,-0.481772,-0.30739,0.615493,-0.560660
4,-1.565228,-1.354813,-0.216681,-0.511611,-1.175075,2.462644,-0.16269,0.764691,-0.289564,-0.449669,-0.375083,1.734973,-0.551541,-0.61376,-0.567095,-0.481772,-0.30739,0.615493,0.059127
5,0.826913,0.737281,-0.216681,-0.511611,0.850054,-0.405612,-0.16269,0.764691,-0.289564,-0.449669,-0.375083,-0.575731,-0.551541,-0.61376,1.761393,-0.481772,-0.30739,0.615493,-0.560660

In [20]:
X_test.head()

,Pclass,Is_Male,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Rare,Age_Bin_Adult,Age_Bin_Child,Age_Bin_Elder,Age_Bin_Teen,Fare_Class_High,Fare_Class_Low,Fare_Class_Mean,Fare_Class_Median,Embark_Place_C,Embark_Place_Q,Embark_Place_S,Family_Size
PassengerId,,,,,,,,,,,,,,,,,,,
892,0.826913,0.737281,-0.216681,-0.511611,0.850054,-0.405612,-0.16269,0.764691,-0.289564,-0.449669,-0.375083,-0.575731,1.811068,-0.61376,-0.567095,-0.481772,3.249548,-1.622891,-0.560660
893,0.826913,-1.354813,-0.216681,-0.511611,-1.175075,2.462644,-0.16269,-1.306250,-0.289564,2.221363,-0.375083,-0.575731,1.811068,-0.61376,-0.567095,-0.481772,-0.307390,0.615493,0.059127
894,-0.369158,0.737281,-0.216681,-0.511611,0.850054,-0.405612,-0.16269,-1.306250,-0.289564,2.221363,-0.375083,-0.575731,-0.551541,-0.61376,1.761393,-0.481772,3.249548,-1.622891,-0.560660
895,0.826913,0.737281,-0.216681,-0.511611,0.850054,-0.405612,-0.16269,0.764691,-0.289564,-0.449669,-0.375083,-0.575731,-0.551541,-0.61376,1.761393,-0.481772,-0.307390,0.615493,-0.560660
896,0.826913,-1.354813,-0.216681,-0.511611,-1.175075,2.462644,-0.16269,0.764691,-0.289564,-0.449669,-0.375083,-0.575731,-0.551541,-0.61376,1.761393,-0.481772,-0.307390,0.615493,0.678913

---

## Importing models

In [21]:
from xgboost import XGBClassifier
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold

## 1) XGBoost

### Standard parameters

In [22]:
std_params = {'random_state': 0,
              'n_estimators': 1000,
               'max_depth': 6,
               'early_stopping_rounds': 10,
               'learning_rate': 0.05,
               'reg_lambda': 1,
               'reg_alpha': 0.5,
               'eval_set': [(X_train, y_train)],
               'predictor': 'gpu_predictor'}

### Creating and fitting model

In [23]:
from sklearn.metrics import accuracy_score, recall_score, fbeta_score

In [24]:
params = {'random_state': 0,
          'n_estimators': 1000,
          'max_depth': 6,
          'early_stopping_rounds': 10,
          'learning_rate': 0.3,
          'reg_lambda': 1,
          'reg_alpha': 0.5,
          'eval_set': [(X_train, y_train)],
          'predictor': 'gpu_predictor'}

def create_xgb_model(params):
    xgb = XGBClassifier(random_state = params['random_state'],
                       n_estimators = params['n_estimators'], 
                       max_depth = params['max_depth'], 
                       learning_rate = params['learning_rate'],
                       early_stopping_rounds = params['early_stopping_rounds'],
                       reg_lambda = params['reg_lambda'], 
                       reg_alpha = params['reg_alpha'],
                       predictor = params['predictor'])
    return xgb

#### Using KFold cross-validation method to analyze generatization capability

In [25]:
import warnings
warnings.filterwarnings('ignore')

indexes = np.array(X_train.index)
rand = np.random.RandomState(params['random_state'])
rand.shuffle(indexes)
X_shuffled = X_train.loc[indexes]
y_shuffled = y_train.loc[indexes]

folds = 5
kf = KFold(n_splits = folds)
kfold_scores = []
kfold_acc = []
kfold_rec = []
kfold_f2 = []

for (train_indexes, val_indexes) in kf.split(X_train):
    X_train_kfold = X_shuffled.iloc[train_indexes].copy()
    y_train_kfold = y_shuffled.iloc[train_indexes].copy()
    X_val_kfold = X_shuffled.iloc[val_indexes].copy()
    y_val_kfold = y_shuffled.iloc[val_indexes].copy()
    
    model = create_xgb_model(params)
    model.fit(X_train_kfold, y_train_kfold, eval_metric = 'logloss', eval_set = params['eval_set'], verbose = 0)
    y_pred = model.predict(X_val_kfold)
    kfold_scores.append(mean_squared_error(y_val_kfold, y_pred))
    kfold_acc.append(accuracy_score(y_val_kfold, y_pred))
    kfold_rec.append(recall_score(y_val_kfold, y_pred))
    kfold_f2.append(fbeta_score(y_val_kfold, y_pred, beta = 2))
    
print(f'KFold final score: {sum(kfold_scores)/len(kfold_scores)}')
print(f'Kfold accuracy score: {sum(kfold_acc)/len(kfold_acc)}')
print(f'Kfold recall score: {sum(kfold_rec)/len(kfold_rec)}')
print(f'Kfold f2 score: {sum(kfold_f2)/len(kfold_f2)}')

KFold final score: 0.17958696880296277
Kfold accuracy score: 0.8204130311970372
Kfold recall score: 0.7340786212753214
Kfold f2 score: 0.7419934532905843

Important:
**Kfold accuracy is an estimate of the competition score.** However, it's certainly overestimated or underestimated.

---

## Exporting result to submission

In [26]:
X_train.head()

,Pclass,Is_Male,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Rare,Age_Bin_Adult,Age_Bin_Child,Age_Bin_Elder,Age_Bin_Teen,Fare_Class_High,Fare_Class_Low,Fare_Class_Mean,Fare_Class_Median,Embark_Place_C,Embark_Place_Q,Embark_Place_S,Family_Size
PassengerId,,,,,,,,,,,,,,,,,,,
1,0.826913,0.737281,-0.216681,-0.511611,0.850054,-0.405612,-0.16269,0.764691,-0.289564,-0.449669,-0.375083,-0.575731,1.811068,-0.61376,-0.567095,-0.481772,-0.30739,0.615493,0.059127
2,-1.565228,-1.354813,-0.216681,-0.511611,-1.175075,2.462644,-0.16269,0.764691,-0.289564,-0.449669,-0.375083,1.734973,-0.551541,-0.61376,-0.567095,2.073341,-0.30739,-1.622891,0.059127
3,0.826913,-1.354813,-0.216681,1.952417,-1.175075,-0.405612,-0.16269,0.764691,-0.289564,-0.449669,-0.375083,-0.575731,-0.551541,-0.61376,1.761393,-0.481772,-0.30739,0.615493,-0.560660
4,-1.565228,-1.354813,-0.216681,-0.511611,-1.175075,2.462644,-0.16269,0.764691,-0.289564,-0.449669,-0.375083,1.734973,-0.551541,-0.61376,-0.567095,-0.481772,-0.30739,0.615493,0.059127
5,0.826913,0.737281,-0.216681,-0.511611,0.850054,-0.405612,-0.16269,0.764691,-0.289564,-0.449669,-0.375083,-0.575731,-0.551541,-0.61376,1.761393,-0.481772,-0.30739,0.615493,-0.560660

In [27]:
xgb_model = create_xgb_model(params)
xgb_model.fit(X_train, y_train, eval_metric = ['logloss'], eval_set = params['eval_set'])

y_pred = xgb_model.predict(X_test)
y_pred = pd.DataFrame(y_pred, index = X_test.index.rename('PassengerId'), columns = ['Survived'])

[0]	validation_0-logloss:0.56166
[1]	validation_0-logloss:0.49107
[2]	validation_0-logloss:0.44574
[3]	validation_0-logloss:0.41540
[4]	validation_0-logloss:0.39448
[5]	validation_0-logloss:0.38150
[6]	validation_0-logloss:0.37260
[7]	validation_0-logloss:0.36580
[8]	validation_0-logloss:0.36106
[9]	validation_0-logloss:0.35703
[10]	validation_0-logloss:0.35385
[11]	validation_0-logloss:0.35112
[12]	validation_0-logloss:0.34850
[13]	validation_0-logloss:0.34726
[14]	validation_0-logloss:0.34506
[15]	validation_0-logloss:0.34137
[16]	validation_0-logloss:0.33873
[17]	validation_0-logloss:0.33779
[18]	validation_0-logloss:0.33644
[19]	validation_0-logloss:0.33439
[20]	validation_0-logloss:0.33311
[21]	validation_0-logloss:0.33235
[22]	validation_0-logloss:0.33167
[23]	validation_0-logloss:0.33035
[24]	validation_0-logloss:0.32953
[25]	validation_0-logloss:0.32875
[26]	validation_0-logloss:0.32795
[27]	validation_0-logloss:0.32715
[28]	validation_0-logloss:0.32666
[29]	validation_0-logloss:0.32563
[30]	validation_0-logloss:0.32500
[31]	validation_0-logloss:0.32445
[32]	validation_0-logloss:0.32397
[33]	validation_0-logloss:0.32347
[34]	validation_0-logloss:0.32276
[35]	validation_0-logloss:0.32215
[36]	validation_0-logloss:0.32171
[37]	validation_0-logloss:0.32099
[38]	validation_0-logloss:0.32005
[39]	validation_0-logloss:0.31949
[40]	validation_0-logloss:0.31909
[41]	validation_0-logloss:0.31867
[42]	validation_0-logloss:0.31821
[43]	validation_0-logloss:0.31779
[44]	validation_0-logloss:0.31744
[45]	validation_0-logloss:0.31706
[46]	validation_0-logloss:0.31660
[47]	validation_0-logloss:0.31611
[48]	validation_0-logloss:0.31564
[49]	validation_0-logloss:0.31540
[50]	validation_0-logloss:0.31515
[51]	validation_0-logloss:0.31497
[52]	validation_0-logloss:0.31457
[53]	validation_0-logloss:0.31426
[54]	validation_0-logloss:0.31386
[55]	validation_0-logloss:0.31357
[56]	validation_0-logloss:0.31333
[57]	validation_0-logloss:0.31314
[58]	validation_0-logloss:0.31242
[59]	validation_0-logloss:0.31215
[60]	validation_0-logloss:0.31174
[61]	validation_0-logloss:0.31137
[62]	validation_0-logloss:0.31120
[63]	validation_0-logloss:0.31103
[64]	validation_0-logloss:0.31088
[65]	validation_0-logloss:0.31055
[66]	validation_0-logloss:0.31026
[67]	validation_0-logloss:0.30996
[68]	validation_0-logloss:0.30974
[69]	validation_0-logloss:0.30944
[70]	validation_0-logloss:0.30893
[71]	validation_0-logloss:0.30862
[72]	validation_0-logloss:0.30850
[73]	validation_0-logloss:0.30827
[74]	validation_0-logloss:0.30815
[75]	validation_0-logloss:0.30809
[76]	validation_0-logloss:0.30794
[77]	validation_0-logloss:0.30782
[78]	validation_0-logloss:0.30764
[79]	validation_0-logloss:0.30744
[80]	validation_0-logloss:0.30724
[81]	validation_0-logloss:0.30712
[82]	validation_0-logloss:0.30698
[83]	validation_0-logloss:0.30682
[84]	validation_0-logloss:0.30677
[85]	validation_0-logloss:0.30677
[86]	validation_0-logloss:0.30677
[87]	validation_0-logloss:0.30677
[88]	validation_0-logloss:0.30677
[89]	validation_0-logloss:0.30677
[90]	validation_0-logloss:0.30677
[91]	validation_0-logloss:0.30677
[92]	validation_0-logloss:0.30677
[93]	validation_0-logloss:0.30677

In [28]:
y_pred.head()

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 0

In [29]:
y_pred_path = os.path.join('data', 'xgb_predictions.csv')

y_pred.to_csv(y_pred_path, index = True)