## Importing libraries

In [42]:
from utils import preprocess_titanic
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

---

## Importing data

In [38]:
y_train, X_train, X_test = preprocess_titanic()

In [39]:
y_train.head()

PassengerId
1    0
2    1
3    1
4    1
5    0
Name: Survived, dtype: int64

In [40]:
X_train.head()

,Pclass,Age,SibSp,Parch,Fare,Embarked,is_male,embarked_cherbourg,embarked_queenstown,embarked_southampton
PassengerId,,,,,,,,,,
1,3,-0.530005,1,-0.473408,-0.502163,S,1,0,0,1
2,1,0.571430,1,-0.473408,0.786404,C,0,1,0,0
3,3,-0.254646,0,-0.473408,-0.488580,S,0,0,0,1
4,1,0.364911,1,-0.473408,0.420494,S,0,0,0,1
5,3,0.364911,0,-0.473408,-0.486064,S,1,0,0,1

In [41]:
X_test.head()

,Pclass,Age,SibSp,Parch,Fare,Embarked,is_male,embarked_cherbourg,embarked_queenstown,embarked_southampton
PassengerId,,,,,,,,,,
892,3,0.330491,0,-0.473408,-0.490508,Q,1,0,1,0
893,3,1.190988,1,-0.473408,-0.507194,S,0,0,0,1
894,2,2.223584,0,-0.473408,-0.453112,Q,1,0,1,0
895,3,-0.185807,0,-0.473408,-0.473739,S,1,0,0,1
896,3,-0.530005,1,0.767199,-0.400792,S,0,0,0,1

---